.AppContainer{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}

.userPostContainer{
    border: 2px solid blue;
}

.postHeader{
    border: 1px solid indigo;
    
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 90%;
    margin: 0 auto;
}

.headerImage{
    margin-right: 10px;
}

.postImageContainer{
    width:100%;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
}

p{
    font-weight: bold;
    font-size: 14px;
}

.likesContainer{
    width: 90%;
    margin: 0 auto;
}